/Oracle_Academy/Java_Foundations/Projeto_01/Projeto_01/nbproject/private/
/Oracle_Academy/Java_Foundations/Projeto_01/Project_01/nbproject/private/
/Oracle_Academy/Java_Foundations/Projeto_01/Project_01/build/
/Oracle_Academy/Java_Foundations/Projeto_01_b/Project_Files/nbproject/private/
/Oracle_Academy/Java_Foundations/Projeto_01_b/Project_Files/build/
/Oracle_Academy/Java_Foundations/Projeto_01_c/Project_Files/build/
/Oracle_Academy/Java_Foundations/Projeto_01_c/Project_Files/nbproject/private/
/Teste/Teste/nbproject/private/
/Teste/Teste/build/
/Teste/Listing_12_04/nbproject/private/
/Teste/Listing_12_04/build/
/Livros_Resolvidos/Daniel_Liang/Chapter12/Listing_12_05/nbproject/private/
/Livros_Resolvidos/Daniel_Liang/Chapter12/Listing_12_05/build/
/w3resource/Exercise_01/nbproject/private/
/w3resource/Exercise_01/build/
/w3resource/Exercise_02/nbproject/private/
/w3resource/Exercise_02/build/
/w3resource/Exercise_03/nbproject/private/
/w3resource/Exercise_03/build/
/Livros_Resolvidos/Daniel_Liang/Chapter12/Listing_12_07/nbproject/private/
/Livros_Resolvidos/Daniel_Liang/Chapter12/Listing_12_07/build/
/Livros_Resolvidos/Daniel_Liang/Chapter12/Exercise_12_01/nbproject/private/
/Livros_Resolvidos/Daniel_Liang/Chapter12/Exercise_12_01/build/
/Livros_Resolvidos/Daniel_Liang/Chapter12/Exercise_12_02/nbproject/private/
/Livros_Resolvidos/Daniel_Liang/Chapter12/Exercise_12_02/build/
